/* ALGEMENE CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: lightblue;
}

/*************************/
/* Class =  blauw_links */
/*************************/

.blauw_links {
    transition: transform 5s ease-in;
    animation-duration: 5s;
    animation-name: naarRechts;
}

@keyframes naarRechts {
    from {
        transform: translateX(-45em);
    }

    to {
        transform: translateX(0em);
    }
}

/*************************/
/* Class = blauw_rechts */
/*************************/
.blauw_rechts {
    transition: transform 5s ease-in;
    animation-duration: 5s;
    animation-name: naarLinks;
}

@keyframes naarLinks {
    from {
        transform: translateX(45em);
    }

    to {
        transform: translateX(0em);
    }
}

/*************************/
/* ID =groen */
/*************************/
.groen {
    transition: transform 5s ease-in;
    animation-duration: 5s;
    animation-name: naarAchteren;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    opacity: 0%;
}

@keyframes naarAchteren {
    from {
        transform-origin: center;
        opacity: 0%;
        transform: scale(4);
    }

    to {
        opacity: 100%;
        transform: scale(1);
    }
}

/*************************/
/*tekst*/
/*************************/

p:nth-of-type(1) {
    font-family: "Arial Black";
    color: white;
    margin-top: 2em;
    font-size: 2em;
}


p:nth-of-type(2) {
    font-family:"Arial Black";
    color: white;
    font-size: 1.5em;
    margin-bottom: -3em;
}

/*************************/
/*knoppen die voor kleurverandering zorgen*/
/*************************/
.knop {
    border-radius: 100%;
    background-color:floralwhite;
    border: none;
    padding: 30px;
    font-size: 16px;
    margin-left: 20px;
    position: absolute;
    right: 700px;
    top: 133px;
}

.rood-pop {
    fill: #FF0000;
}

.blauw_links {
    fill: #27A1DF;
}

.blauw_rechts {
    fill: #27A1DF;
}

.groen {
    fill: #57A563;
}

.kleur1 {
    fill: #ECA400;
}

.kleur2 {
    fill: #EAF8BF;
}

.kleur3 {
    fill: #DDBDD5;
}

/*************************/
/*pop zweeft naar voren*/
/*************************/
.knop2 {
    border-radius: 100%;
    background-color: darkcyan;
    border: none;
    padding: 30px;
    font-size: 16px;
    margin-left: -140px;
    position: absolute;
    right: 700px;
    top: 133px;
}

.groen2 {
    transition: transform 5s ease-in;
    animation-duration: 5s;
    animation-name: omlaag;
    animation-fill-mode: forwards;
    opacity: 100%;

}

@keyframes omlaag {
    from {
        transform: translateY(0em);
        opacity: 100%;
    }

    to {
        transform: translateY(30em);
        opacity: 0%;
    }
}

.br {
    transition: transform 4s ease-in;
    animation-duration: 4s;
    animation-name: verdwijnRechts;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

.bl {
    transition: transform 4s ease-in;
    animation-duration: 4s;
    animation-name: verdwijnlinks;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}
@keyframes verdwijnlinks {
    from {
        transform-origin: center center;
        transform: translateX(-45em);
        transform:rotateX(0);
        opacity: 100%;
    }

    to {
        transform: translateX(-15em); 
        opacity: 0%;

    }
}
@keyframes verdwijnRechts {
    from {
        transform-origin: center center;
        transform: translateX(45em);
        transform:rotateX(0);
        opacity: 100%;
    }
    to {
        transform: translateX( 15em); 
        opacity: 0%;

    }
}
.roodpoppetje {
    transition: transform 5s linear;
    animation-duration: 5s;
    animation-name: wormgat;
    animation-delay: 9s;
    animation-fill-mode: both;
}

@keyframes wormgat {

    from {
        transform-origin: center;
        transform:scale(1);
    }

    to {
        
transform:scale(0);
    }
}

/*************************/
/*hover tekst*/
/*************************/


/*************************/
/*pop zweeft naar voren*/
/*************************/





/*************************/
/*media query*/
/*************************/

/*======IPHONE FORMAAT========*/
@media (max-width: 29em) {


    svg {
        width: 60em;
        margin-left: -16.2em;
        margin-top: 5em;
    }

    .knop {
        left: 10em;
    }
    .knop2 {
        margin-top: 1.35em;
        margin-right: -12em;

    }
}

/*=======IPAD FORMAAT=========*/
@media (min-width: 29em) and (max-width: 63.9em) {
    

    svg {
        width: 90em;
        margin-left: -22em;
        margin-top: 3em;
    }

    .knop {
        margin-top: 1.4em;
        left: 19em;
    }
    .knop2 {
        margin-top: 1.35em;
        margin-right: -14em;

    }
}

/*===========LAPTOP FORMAAT===========*/
@media (min-width: 64em) and (max-width: 162em) {

    svg {
        width: 85em;

        margin-top: 3em;
    }

    .knop {
        margin-top: 1.4em;

    }

    .knop2 {
        margin-top: 1.35em;
        margin-right: 12em;

    }
}
