/* ALGEMENE CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: lightblue;
    overflow-y: hidden;
}

.rood-pop {
    fill: #FF0000;
}

.blauw_links {
    fill: #27A1DF;
}

.blauw_rechts {
    fill: #27A1DF;
}

.groen {
    fill: #57A563;
}

/*************************/
/* Start animatie */
/*************************/

.blauw_links {
    transition: transform 5s ease-in;
    animation-duration: 5s;
    animation-name: naarRechts;
}

@keyframes naarRechts {
    from {
        transform: translateX(-45em);
    }

    to {
        transform: translateX(0em);
    }
}

/*************************/
/* Start animatie */
/*************************/
.blauw_rechts {
    transition: transform 5s ease-in;
    animation-duration: 5s;
    animation-name: naarLinks;
}

@keyframes naarLinks {
    from {
        transform: translateX(45em);
    }

    to {
        transform: translateX(0em);
    }
}

/*************************/
/* Start animatie */
/*************************/
.groen {
    transition: transform 5s ease-in;
    animation-duration: 5s;
    animation-name: naarAchteren;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    opacity: 0%;
}

@keyframes naarAchteren {
    from {
        transform-origin: center;
        opacity: 0%;
        transform: scale(4);
    }

    to {
        opacity: 100%;
        transform: scale(1);
    }
}

/*************************/
/*tekst*/
/*************************/

p:nth-of-type(1) {
    font-family: "Arial Black";
    color: white;
    margin-top: 2em;
    font-size: 2em;
}


p:nth-of-type(2) {
    font-family: "Arial Black";
    color: white;
    font-size: 1.5em;
    margin-bottom: -3em;
}

/*************************/
/* knoppen die voor kleurverandering zorgen*/
/*************************/
.knop {
    border-radius: 100%;
    background-color: azure;
    border: none;
    padding: 30px;
    font-size: 16px;
    margin-left: 20px;
    position: absolute;
    right: 700px;
    top: 133px;
}

.kleur1 {
    fill: #ECA400;
    transition: transform 2s ease-in;
}

.kleur2 {
    fill: #EAF8BF;
    transition: transform 2s ease-in;
}

.kleur3 {
    fill: #DDBDD5;
    transition: transform 2s ease-in;
}

/*************************/
/*Animatie pop verdwijnt*/
/*************************/
.knop2 {
    border-radius: 100%;
    background-color: darkseagreen;
    border: none;
    padding: 30px;
    font-size: 16px;
    margin-left: -140px;
    position: absolute;
    right: 700px;
    top: 133px;
}

.groen2 {
    transition: transform 5s ease-in;
    animation-duration: 5s;
    animation-name: omlaag;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 100%;

}

@keyframes omlaag {
    from {
        transform: translateY(0em);
        opacity: 100%;
    }

    to {
        transform: translateY(30em);
        opacity: 0%;
    }
}

.br {
    transition: transform 4s ease-in;
    animation-duration: 4s;
    animation-name: verdwijnRechts;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.bl {
    transition: transform 4s ease-in;
    animation-duration: 4s;
    animation-name: verdwijnlinks;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes verdwijnlinks {
    from {
        transform-origin: center center;
        transform: translateX(-45em);
        transform: rotateX(0);
        opacity: 100%;
    }

    to {
        transform: translateX(-15em);
        opacity: 0%;

    }
}

@keyframes verdwijnRechts {
    from {
        transform-origin: center center;
        transform: translateX(45em);
        transform: rotateX(0);
        opacity: 100%;
    }

    to {
        transform: translateX(15em);
        opacity: 0%;

    }
}

.roodpoppetje {
    transition: transform 5s linear;
    animation-duration: 5s;
    animation-name: wormgat;
    animation-delay: 6s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes wormgat {

    from {
        transform-origin: center;
        transform: scale(1);
    }

    to {

        transform: scale(0);
    }
}

/*************************/
/*Hover tekst*/
/*************************/

p:nth-of-type(1):hover {
    color: #D1FFC6;
}

p:nth-of-type(2):hover {
    color: #E8F8C1;
}

/*************************/
/*Hover buttons*/
/*************************/

.knop {
    background-color: #c3e3e3;
}

.knop2:hover {
    background-color: #738f6f;
}


/*************************/
/*media query*/
/*************************/

/*======IPHONE FORMAAT========*/
@media (max-width: 29em) {
    body {
        overflow-y: hidden;
        overflow-x: hidden;

    }

    p:nth-of-type(1) {
       
        font-size: 2em;
    }


    p:nth-of-type(2) {
        text-align: center;
     
        font-size: 2em;
    }

    svg {
        width: 50em;
        margin-left: -11em;
        margin-top: 8em;
    }

    .knop {
        left: 10.5em;
        top: 10em;
    }

    .knop2 {
        left: 13em;
        top: 10em;
        visibility: visible;
    }
}

/*=======IPAD FORMAAT=========*/
@media (min-width: 29em) and (max-width: 63.9em) {
    body {
        overflow-y: hidden;
        overflow-x: hidden;

    }

    p:nth-of-type(1) {
        font-size: 3em;
    }


    p:nth-of-type(2) {
        font-size: 2em;
    }

    svg {
        width: 110em;
        margin-left: -29.5em;
        margin-top: 3em;
    }

    .knop {
        margin-top: 5.5em;
        left: 21em;
    }

    .knop2 {
        margin-top: 5.5em;
        margin-right: -4em;

    }
}

/*===========LAPTOP FORMAAT===========*/
@media (min-width: 64em) and (max-width: 162em) {

    svg {
        width: 85em;

        margin-top: 3em;
    }

    .knop {
        margin-top: 1.4em;

    }

    .knop2 {
        margin-top: 1.35em;
        margin-right: 12em;
        visibility: hidden;
    }
}
